.history {
  background-color: map-get($theme-colors, "secondary");
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);

  &__pagination {
    display: flex;
    justify-content: end;
    padding: 5px;

    &__btn {
      padding: 3px;
      background-color: none;
      border: none;
      cursor: pointer;
      border: 1px solid map-get($theme-colors, "success");
      background-color: map-get($theme-colors, "secondary");
      color: map-get($theme-colors, "success");
    }
    &__active {
      padding: 3px;
      background-color: none;
      border: none;
      cursor: pointer;
      background-color: map-get($theme-colors, "success");
      color: map-get($theme-colors, "secondary");
      padding: 0px 10px 0px 10px;
    }
  }
}
