.menu__body {
  background-color: map-get($theme-colors, "bg");
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.debit-cont {
  background-color: map-get($theme-colors , "secondary" );
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.2);
}