$theme-colors: (
  "primary":    $gray-800,
  "secondary":  $white,
  "success":    $blue-500,
  "info":       $gray-500,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "bg":         $gray-200
);
